[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

selenium = "*"
"bs4" = "*"
requests = "*"
pillow = "*"
"progressbar2" = "*"
humanfriendly = "*"
termcolor = "*"


[dev-packages]

